@font-face {
    font-family: 'PermanentMarker';
    src: url('FONTS/PermanentMarker-Regular.ttf');
}
@font-face {
    font-family: 'Orbitron';
    src: url('FONTS/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'SpaceMono-Bold';
    src: url('FONTS/SpaceMono-Bold.ttf');
}


body{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    padding: 0;
    margin:0;
}
header{
    position: fixed;
    display:flex;
    justify-content:center;
    flex-direction: row;
    width:100%;
    height: 9vw;
    background-color:rgb(20, 20, 20);
    color:aqua;
    
}
main{
    margin-top:9vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    background-color:rgb(20, 20, 20);
    
}
#cabecera{
    display:flex;
    width:100%;
    flex-direction: row;
    color:white;
}
#manchas{
    width:30%;

}
#mancha{
    width:16vw;
    height: 13vw;
}
#tcabecera{
    width:40%;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'PermanentMarker'
}
#fgancho{
    display: flex;
    justify-content: center;
    width: 100%;
    color:rgb(204, 204, 56);
    font-family: 'PermanentMarker';
}
#fgancho p{
    margin-top:20px;
    font-size: 3.5vw;
}

#formulario{
    display: flex;
    width: 60%;
    flex-direction: row;
    color: white;
}
#form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#np{
    display:flex;
    justify-content: space-between;
    width:100%;
}
#nombre{
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-left:9.6vw;
    width:12.3vw;
    height: 3vw;
    background-color:rgb(253, 253, 121);
    text-align: center;
    font-size: 1.4vw;
}
#apellidos{
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-left: -10vw;  
    margin-right: 12vw;
    width:12.3vw;
    height: 3vw;
    background-color:rgb(253, 253, 121);
    text-align: center;
    font-size: 1.4vw;
}
#email{
    display:flex;
    width: 100%;
    justify-content: center;
    font-size: 1.4vw;
    margin-top:0.5vw;
}
#mail{
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-left:5vw;
    width:30vw;
    height:3vw;
    background-color:rgb(253, 253, 121);
    text-align: center;
    font-size: 1.4vw;
}
#date{
    width:100%;
    display: flex;
    justify-content: center;
}
#contenidos{
    margin-top:0.5vw;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color:rgb(253, 253, 121);
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4vw;
    height: 3vw;
    color:gray;
    width:12.3vw;
    text-align: center;
    margin-left: 5.3vw;
    border: 2px solid;
}
#fecha{
    background-color:rgb(253, 253, 121);
    color:gray;
    font-size: 1.4vw;
    font-weight: thin;
    border:0;
}
#tsexo{
    font-size: 1.4vw;
}
#sexo{
    background:rgb(253, 253, 121);
    width:1vw;
    height: 1vw;
    font-size: 2vw;
}
#identidad{
    width: 100%;
    font-size: 1.8vw;
    text-align: center;
    height: 1vw;
}
#opcionsexo{
    margin-top:0.5vw;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size:1.4vw;
    align-items: center;
    margin-left: 5vw;
    
}
#obligatorio{
    width: 100%;
    font-size: 1.8vw;
    text-align: center;
    height: 1vw;
}

#boton{
    background-color:rgb(204, 204, 56);
    border: none;
    color: black;
    margin-left: 4vw;
    text-align: center;
    text-decoration: solid;
    font-family: 'PermanentMarker';
    font-size: 1.4vw;
    border-radius: 12px;
    font-weight: bold;
    width:7vw;
    height: 4vw;
}
#camis{
    margin-top: 4vw;
    width:29%;
    display: flex;
    flex-direction: row;
}
#camis img{
    width:30vw;
    height: 25vw;
}

#descuentos{
    width:50%;
    color:rgb(116, 211, 211);
    text-align: center;
    justify-content: center;
    font-size:2.1vw;
    margin-left: 20vw;
    font-family: 'Orbitron';
}



#diy{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#cdiy{
width:20vw;
height:20vw;
margin-left:30vw;
}
#tdiy{
    width: 15%;
color:white;
text-align: left;
font-size: 2vw;
font-family: 'SpaceMono-Bold';
}
#custom{
    margin-left:8vw;
    margin-top:-5vw;
    width:10vw;
    height: 5vw;
    transform: rotate(339deg);
}
#opiniones{
    display: flex;
    justify-content: center;
    width:100%;
}
#opinion{
    width:60vw;

}
#detalles{
    display: flex;
    flex-direction: column;
    margin-top:-2vw;
    margin-bottom: -5vw;
}
#detalles img{
    width:20vw;
}
footer{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    height: 10vw;
    color:white;
}
footer p{
    margin:0;
    padding:0;
}


#dtfooter{
    display:flex;
    justify-content: right;
    flex-wrap: wrap;
    width: 40%;
    margin-right: 5vw;
    font-size: 1.7vw;
}
#RRSS{
    display:flex;
    justify-content: right;
    width: 60%;
}

#logo{
    width:20vw;
    height:10vw;
    justify-self:center
}
#df2{
    width:10vw;
    height: 7vw;
}
footer img{
    width:4vw;
    height: 4vw;
    margin-right: 1.3vw;
}
#tw{
    width:3.5vw;
    height: 3.5vw;
    
}
#menu{
    width: 9vw;
    height: 8vw;
}
#m1{
    width:40%;
    display:flex;
    justify-content: right;
    align-items: center;
}
#log{
    width:55%;
    display:flex;
    justify-content: right;
}
#posicion{
    display:flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 600px) {
main{
    display:flex;
    flex-direction: column;
}

#tcabecera{
    margin-left: -4vw;
    width:60%;
    font-size: 4vw;
    text-align: left;
}

#camis img{
    width: 50vw;
    height: 35vw;
    margin-left: -10vw;
    margin-top:-3vw;
}
#formulario{
    flex-direction: column;
    align-items: center;
}
#diy{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#cdiy{
    margin-left:0vw;
    }

#tdiy{
    width:40%;
    font-size:2.5vw;
}
#custom{
    margin-top:-10vw;
    margin-left:8vw;
    width: 18vw;
}
#fgancho p {
    margin-top:0;
    font-size: 5vw;
}
#posicion{
    flex-direction: column-reverse;
    align-items: center;
    margin-top:-7vw;
}
#identidad{
    font-size: 3.5vw;
}
#obligatorio{
    font-size:3.5vw;
}

#nombre{
    margin-top:1vw;
width: 25vw;
height: 8vw;
font-size:4vw;
}

#apellidos{
    margin-top:1vw;
    margin-left: 10vw;
    width: 25vw;
    height: 8vw;
    font-size:4vw;
}
#mail{
    width: 61.4vw;
    margin-left:-2.6vw;
    margin-top: 2vw;
height: 8vw;
font-size:4vw;
}
#contenidos{

    width:25vw;
    height: 8vw;
    font-size:4vw;
    margin-top:2.5vw;
    margin-left:9.5vw;
}
#fecha{
    font-size:3.5vw;
}
#date{
    justify-content: space-between;
}
#opcionsexo{
    margin-top:2.5vw;
    font-size:3vw;
    margin-right: 12vw;
}
#tsexo{
    font-size: 3vw;
}
#sexo{
    font-size: 5vw;
    width: 3vw;
    height: 3vw;
}
#boton{
    width:15vw;
    height: 6vw;
    font-size: 4vw;
}
#descuentos{
    font-size: 2.7vw;
    width: 70%;
    margin-left:15vw;
}
#cdiy{
    width:25vw;
    height: 25vw;
}
#opinion{
    width: 80vw;
}
#detalles img{
    width:35vw;
}
#RRSS img{
    width: 7vw;
    height: 7vw;
}
#dtfooter{
    font-size: 2.5vw;
}
}


